body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teaser {
    width: 100%;
    height: 300px;
}

#teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #teaser {
        height: 600px;
    }
}

nav {
    position: sticky;
    top: 0px;
    backdrop-filter: blur(8px);
}

nav ul,
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

nav ul li a,
footer ul li a {
    padding: 24px;
    font-weight: 600;
    text-decoration: none;
}

nav ul li a:hover,
footer ul li a:hover {
    text-decoration: underline;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}